---
import { getLangFromUrl, useTranslatedPath, useTranslation } from "@/i18n";
import LanguagePicker from "@/i18n/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = await useTranslation(lang);

const r = useTranslatedPath(lang);

type Link = {
  title: string;
  url: string;
};

const navLinks: Link[] = [
  {
    title: t.nav.home,
    url: r("/"),
  },
  {
    title: t.nav.about,
    url: r("about"),
  },
  {
    title: t.nav.contact,
    url: r("contact"),
  },
];
---

<div class="border-b border-gray-200">
  <nav class="px-20 flex justify-between items-center file: py-3">
    <a href={r("/")} class="font-bold">i18n</a>
    <ul class="flex gap-5 items-center">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.url} class="hover:text-gray-600 transition-colors ">
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>

    <LanguagePicker />
  </nav>
</div>
